/* line 7, ../sass/lightbox.sass */
body:after {
	content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
	display: none
}
/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
	z-index: 9999;
	background-color: black;
 	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	position: absolute;
	display: none;
	opacity: 0.8;
	left: 0;
	top: 0
}
/* line 20, ../sass/lightbox.sass */
.lightbox {
	width: 100%;
	line-height: 0;
	text-align: center;
	font-weight: normal;
	position: absolute;
	z-index: 10000;
	left: 0
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	height: auto
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
	border: none
}
/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
	position: relative;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	height: 250px;
	width: 250px;
	*zoom: 1
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
	content: "";
	display: table;
	clear: both
}
/* line 44, ../sass/lightbox.sass */
.lb-container {
	padding: 4px
}
/* line 47, ../sass/lightbox.sass */
.lb-loader {
	width: 100%;
	text-align: center;
	position: absolute;
	line-height: 0;
	height: 25%;
	left: 0%;
	top: 43%
}
/* line 56, ../sass/lightbox.sass */
.lb-cancel {
	width: 32px;
	display: block;
	background: url(../img/loading.gif) no-repeat;
	margin: 0 auto;
	height: 32px
}
/* line 63, ../sass/lightbox.sass */
.lb-nav {
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 10;
	left: 0;
	top: 0
}
/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
	left: 0
}
/* line 74, ../sass/lightbox.sass */
.lb-nav a {
	outline: none
}
/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
	height: 100%;
	cursor: pointer;
	/* Trick IE into showing hover */
	display: block;
	width: 49%
}
/* line 84, ../sass/lightbox.sass */
.lb-prev {
	float: left;
	left: 0
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
	background: url(../img/prev.png) left 48% no-repeat;
}
/* line 90, ../sass/lightbox.sass */
.lb-next {
	float: right;
	right: 0
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
	background: url(../img/next.png) right 48% no-repeat
}
/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
	width: 100%;
	margin: 0 auto;
	padding-top: 5px;
	
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	*zoom: 1
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
	content: "";
	display: table;
	clear: both
}
/* line 103, ../sass/lightbox.sass */
.lb-data {
	padding: 0 4px;
	color: #BBB
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
	width: 85%;
	text-align: left;
	line-height: 1.1em;
	float: left
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
	line-height: 1em;
	font-weight: bold;
	font-size: 13px
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
	display: block;
	padding-bottom: 1em;
	font-size: 12px;
	color: #999;
	clear: left
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
	width: 30px;
	height: 30px;
	outline: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	background: url(../img/close.png) top right no-repeat;
	text-align: right;
	display: block;
	float: right;
	opacity: 0.7
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
	cursor: pointer;
 	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
